<div>
    <h2>Food Services in your area</h2>
    <% 
        myids = Array.new
        @current_user.services.each do |service|
            myids.push(service.servicable_id)
        end
    %>
    <% @nearby_services = FoodService.where(locality: current_user.locality).where.not(id: myids) %>
    <% if @nearby_services.count == 0 %>
        <div class="row">
            <div class="col-12 btn-warning text-center">No service in your area... Kindly search for services in nearby areas using th search feature.</div>
        </div>
    <% else %>
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Indicators-->
        <% cards = 4; rem = @nearby_services.count%cards; q = @nearby_services.count/cards; %>
        <% i = 0; num = rem == 0 ? q : q+1; %>
        <ol class="carousel-indicators">
            <% until i >= num %>
                <li data-target="#multi-item-example" data-slide-to="<%= i %>" class="<%= if i == 0 then 'active' end %>"></li>
            <% i += 1; end %>
        </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
        <% @nearby_services.each_with_index do |foodService, index| %>
            <div class="col-md-3 card-item" style="float:left">
                <div class="card mb-2">
                    <div class="card-header">
                    <strong> <%= foodService.service.name %> </strong>
                    </div>
                    <div class="card-body">
                        <strong>Timing :</strong><br/>
                        <%for time in JSON.parse(foodService.time_interval.to_json)["timing"] %>
                            <strong>Start: </strong><%=time["start"]%><strong> End: </strong><%=time["end"]%><br/>
                        <% end %>
                        <a onclick='showModal(<%= foodService.service.id %>)'><u>Show details</u></a>
                    </div>
                </div>
            </div>
        <% if index%cards == cards-1 %>
            </div>
            <!--/.First slide-->
            <!--Second slide-->
            <div class="carousel-item">
        <% end %>
        <% end %>
    </div>
    <!--/.Slides-->

    </div>
    <% end %>
</div>