<div>
    <h2>Stay Services in your area</h2>
    <% @nearby_services = StayService.where(locality: current_user.locality) %>
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Indicators-->
        <% cards = 4; rem = @nearby_services.count%cards; q = @nearby_services.count/cards; %>
        <% i = 0; num = rem == 0 ? q : q+1; %>
        <ol class="carousel-indicators">
            <% until i >= num %>
                <li data-target="#multi-item-example" data-slide-to="<%= i %>" class="<%= if i == 0 then 'active' end %>"></li>
            <% i += 1; end %>
        </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
        <% @nearby_services.each_with_index do |stayService, index| %>
            <div class="col-md-3 card-item" style="float:left">
                <div class="card mb-2">
                    <div class="card-header">
                    <strong> <%= stayService.service.name %> </strong>
                    </div>
                    <div class="card-body">
                        <strong>Timing :</strong>24/7<br />
                        <strong>Status :</strong><%= stayService.status %><br />
                        <a onclick='showModal(<%= stayService.service.id %>)'><u>Show details</u></a>
                    </div>
                </div>
            </div>
        <% if index%cards == cards-1 %>
            </div>
            <!--/.First slide-->
            <!--Second slide-->
            <div class="carousel-item">
        <% end %>
        <% end %>
    </div>
    <!--/.Slides-->

    </div>
</div>