<div class="container"> 
    <br />
    <% @services = Service.all %>
    <%= render 'user/all_services' %>
    <%= render 'user/food_services_in_your_area' %>
    <%= render 'user/stay_services_in_your_area' %>
    <%= render 'user/show_details' %>
    <%= render 'user/order' %>
    <%= render 'orders/user_orders' %>
    <%= render 'user/profile' %>
</div>