<div class="container"> 
    <br />
    <%= render 'user/my_services' %>
    <%= render 'user/show_vendor_service_details' %>
    <%= render 'user/add_food' %>
    <%= render 'user/add_stay' %>
    <%= render 'orders/vendor_orders' %>
    <%= render 'user/add_service' %>
    <%= render 'user/profile' %>
    <%= render 'user/edit_foods' %>
</div>