<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @food.cost %>
</p>

<p>
  <strong>Units:</strong>
  <%= @food.units %>
</p>

<p>
  <strong>Includes:</strong>
  <%= @food.includes %>
</p>

<p>
  <strong>Available count:</strong>
  <%= @food.available_count %>
</p>

<p>
  <strong>Food service:</strong>
  <%= @food.food_service_id %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
